*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*DASHBOARD*/

/* Custom hover color for sidebar links */
.dashboard .nav-link:hover {
    background-color: rgba(211, 211, 211, 0.5); /* Light gray with half opacity */
    color: white; /* Ensure text stays white on hover */
  }


/*LOGIN*/

  .login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .login-container h2 {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    width: 100%;
  }

  /*SIGN-UP*/

    .signup-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 30px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .signup-container h2 {
      margin-bottom: 20px;
    }

    .btn-primary {
      width: 100%;
    }

    .form-text {
      font-size: 0.9rem;
    }

    